{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Recorridos</title>
    <link rel="icon" href="{% static 'img/mobike.jpg' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/9c094d55de.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href=" {% static 'css/estilos.css' %}">
    <script src="js/modernizr.js"></script>
</head>

<body>
    <!-- header-menu -->
    <header>
        <div class="header-content">
            <div class="logo">
                <img src=" {% static 'img/mobike.jpg' %}" alt="">
                <h1> <a href="{% url 'inicio'%}">Mobike</a></h1>
            </div>
            <div class="menu" id="show-menu">
                <nav>
                    <ul>
                        <li><a href="{% url 'inicio'%}"><i class="fas fa-house-user"></i>Inicio</a></li>
                        <li><a href="{% url 'estacionamientos'%}"> <i
                                    class="far fa-laugh-squint"></i>Estacionamientos</a></li>
                     <!-- usuario Administrador -->
                        {% if user.is_authenticated %}
                        {% if user.is_admin %}
                            <li><a href="{% url 'admin:index'%}"><i class="far fa-dizzy"></i>Administrar</a></li>
                            <li><a href="{% url 'cerrarSesion'%}">Cerrar sesion</a></li>
                            <li><a href="{% url 'perfil' %}"> {{user.nombres}} {{user.apellido}}</a></li>
                            {% if user.imagen %}
                                <img src="{{ user.imagen.url }}" alt="imagen no encontrada" class="image-menu">
                            {% else %}
                                <img src="{% static 'img/image_default.png'%}" alt="imagen no encontrada" class="image-menu">
                            {% endif%}
                        {% endif %}
                        <!-- usuario normal -->
                        {% if not user.is_admin %}
                            <li class='menu-selected'><a href="{% url 'recorridos'%}" class="text-menu-selected"><i class="far fa-dizzy"></i>Recorridos</a></li>
                            <li><a href="{% url 'cerrarSesion'%}">Cerrar sesion</a></li>
                            <li><a href="{% url 'perfil' %}" > {{user.nombres}} {{user.apellido}}</a></li>
                            {% if user.imagen %}
                                <img src="{{ user.imagen.url }}" alt="imagen no encontrada" class="image-menu">
                            {% else %}
                                <img src="{% static 'img/image_default.png'%}" alt="imagen no encontrada" class="image-menu">
                            {% endif%}
                        {% endif %}
                        {% else %}
                            <li><a href="{% url 'ingresar'%}" ><i
                                    class="fas fa-user-plus"></i>Ingresar</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <!-- Recorridos -->
    <div class="container-x" id="move-content">
        <div class="container-tabla-recorridos">
            <div class="container-recorridos">
                <table class="table" >
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Fecha</th>
                            <th>Valor del viaje</th>
                        </tr>
                    </thead>
                    {% if recorridos %}
                    {% for c in recorridos %}
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>{{ c.origen }}</td>
                            <td>{{ c.destino }}</td>
                            <td>{{ c.fecha_registro }}</td>
                            <td> $ {{ c.valor_total }}</td>
                        </tr>
                    <br>
                    {% endfor %}
                    {% else %}
                    <p>No hay registros de recorridos</p>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="container-footer">
        <footer>
            <div class="logo-footer">
                <img src="{% static 'img/mobike.jpg' %}" alt="">
            </div>
            <div class="redes-footer">
                <a href="https://www.facebook.com/DuocUC.PadreAlonsodeOvalle/"><i
                        class="fab fa-facebook icon-redes-footer"></i></a>
                <a href="https://www.instagram.com/duocuc_sedepadrealonsodeovalle/"><i
                        class="fab fa-instagram icon-redes-footer"></i></a>
                <a href="https://twitter.com/DuocUC"><i class="fab fa-twitter icon-redes-footer"></i></a>
            </div>
            <div class="certificacion">
                <p>
                    <a href="http://jigsaw.w3.org/css-validator/check/referer">
                        <img style="border:0;width:88px;height:31px"
                            src="http://jigsaw.w3.org/css-validator/images/vcss" alt="¡CSS Válido!" />
                    </a>
                </p>
                <p>
                    <a href="http://jigsaw.w3.org/css-validator/check/referer">
                        <img style="border:0;width:88px;height:31px"
                            src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="¡CSS Válido!" />
                    </a>
                </p>
            </div>
            <hr>
            <h4> 2020 Mobike - Todos los Derechos Reservados</h4>
        </footer>
    </div>
    <!-- scripts -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>