{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Registrar</title>
    <link rel="icon" href="{% static 'img/mobike.jpg' %}">
    <script src="https://kit.fontawesome.com/9c094d55de.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.min.js"></script>
    <link rel="stylesheet" href=" {% static 'css/estilos.css' %}">
</head>

<body>
    <!-- header -->
    <header>
        <div class="header-content">
            <div class="logo">
                <img src=" {% static 'img/mobike.jpg' %}" alt="">
                <h1> <a href="{% url 'inicio'%}">Mobike</a></h1>
            </div>
            <div class="menu" id="show-menu">
                <nav>
                    <ul>
                        <li><a href="{% url 'inicio'%}"><i class="fas fa-house-user"></i>Inicio</a></li>
                        <!-- usuario Administrador -->
                        {% if user.is_authenticated %}
                        {% if user.is_admin %}
                        <li><a href="{% url 'admin:index'%}">Administrar</a></li>
                        <li><a href="{% url 'listar_post'%}">Blog</a></li>
                        <li><a href="{% url 'cerrarSesion'%}">Cerrar sesion</a></li>
                        <li class='menu-selected'><a href="{% url 'perfil' %}" class="text-menu-selected">
                                {{user.nombres}} {{user.apellido}}</a></li>
                        {% if user.imagen %}
                        <img src="{{ user.imagen.url }}" alt="imagen no encontrada" class="image-menu">
                        {% else %}
                        <img src="{% static 'img/image_default.png'%}" alt="imagen no encontrada" class="image-menu">
                        {% endif%}
                        {% endif %}
                        <!-- usuario normal -->
                        {% if not user.is_admin %}
                        <li><a href="{% url 'estacionamientos'%}">Estacionamientos</a></li>
                        <li><a href="{% url 'listar_post'%}">Blog</a></li>
                        <li><a href="{% url 'recorridos'%}">Recorridos</a></li>
                        <li><a href="{% url 'cerrarSesion'%}">Cerrar sesion</a></li>
                        <li class='menu-selected'><a href="{% url 'perfil' %}" class="text-menu-selected">
                                {{user.nombres}} {{user.apellido}}</a></li>
                        {% if user.imagen %}
                        <img src="{{ user.imagen.url }}" alt="imagen no encontrada" class="image-menu">
                        {% else %}
                        <img src="{% static 'img/image_default.png'%}" alt="imagen no encontrada" class="image-menu">
                        {% endif%}
                        {% endif %}
                        {% else %}
                        <li><a href="{% url 'estacionamientos'%}">Estacionamientos</a></li>
                        <li><a href="{% url 'listar_post'%}">Blog</a></li>
                        <li><a href="{% url 'ingresar'%}"><i class="fas fa-user-plus"></i>Ingresar</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <!-- formulario de registro -->
    <div class="container-x" id="move-content">
        <div class="container-all">
            <div class="container-registrar">
                <div class="ctn-form1">
                    <h2 class="title">Editar Post</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Usuario</label>
                            <input class="form-control" type="text" value='{{user.username}}' name="usuario" readonly>
                            <br>
                        </div>
                        <div class="form-group">
                            <label>Titulo</label>
                            {{ form.titulo }}
                            <div class="error" {{ form.errors.titulo}}></div>
                            <br>
                        </div>
                        <div class="form-group">
                            <label>Descripcion</label>
                            {{ form.descripcion }}
                            <div class="error" {{ form.errors.descripcion}}></div>
                            <br>
                        </div>
                        <div>
                            <label class="form-label">Imagen</label>
                            {{ form.imagen }}
                            <br>
                        </div>
                        <div class="form-group">
                            <button type="submit">GRABAR</button>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="container-footer">
            <footer>
                <div class="logo-footer">
                    <img src="{% static 'img/mobike.jpg' %}" alt="">
                </div>
                <div class="redes-footer">
                    <a href="https://www.facebook.com/MobikeCL/?brand_redir=1914107855579139"><i
                            class="fab fa-facebook icon-redes-footer"></i></a>
                    <a href="https://www.instagram.com/mobikecl/"><i class="fab fa-instagram icon-redes-footer"></i></a>
                    <a href="https://twitter.com/MobikeCL"><i class="fab fa-twitter icon-redes-footer"></i></a>
                </div>
                <div class="certificacion">
                    <p>
                        <a href="http://jigsaw.w3.org/css-validator/check/referer">
                            <img style="border:0;width:88px;height:31px"
                                src="http://jigsaw.w3.org/css-validator/images/vcss" alt="¡CSS Válido!" />
                        </a>
                    </p>
                    <p>
                        <a href="http://jigsaw.w3.org/css-validator/check/referer">
                            <img style="border:0;width:88px;height:31px"
                                src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="¡CSS Válido!" />
                        </a>
                    </p>
                </div>
                <hr>
                <h4> 2020 Mobike - Todos los Derechos Reservados</h4>
            </footer>
        </div>
    </div>
    <!-- scripts -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>