{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Recorridos</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'img/mobike.jpg' %}">
    <script src="https://kit.fontawesome.com/9c094d55de.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.min.js"></script>
    <link rel="stylesheet" href=" {% static 'css/estilos.css' %}">
    <script src="js/modernizr.js"></script>
</head>

<body>
    <!-- header-menu -->
    <header>
        <div class="header-content">
            <div class="logo">
                <img src=" {% static 'img/mobike.jpg' %}" alt="">
                <h1> <a href="{% url 'inicio'%}">Mobike</a></h1>
            </div>
            <div class="menu" id="show-menu">
                <nav>
                    <ul>
                        <li><a href="{% url 'inicio'%}" ><i class="fas fa-house-user"></i>Inicio</a></li>
                        <!-- usuario administrador -->
                        <!-- usuario Administrador -->
                        {% if user.is_authenticated %}
                        {% if user.is_admin %}
                            <li><a href="{% url 'admin:index'%}">Administrar</a></li>
                            <li class='menu-selected'><a href="{% url 'listar_post'%}" class="text-menu-selected">Blog</a></li>
                            <li><a href="{% url 'cerrarSesion'%}">Cerrar sesion</a></li>
                            <li><a href="{% url 'perfil' %}" > {{user.nombres}} {{user.apellido}}</a></li>
                            {% if user.imagen %}
                                <img src="{{ user.imagen.url }}" alt="imagen no encontrada" class="image-menu">
                            {% else %}
                                <img src="{% static 'img/image_default.png'%}" alt="imagen no encontrada" class="image-menu">
                            {% endif%}
                        {% endif %}
                        <!-- usuario normal -->
                        {% if not user.is_admin %}
                            <li><a href="{% url 'estacionamientos'%}">Estacionamientos</a></li>
                            <li class='menu-selected'><a href="{% url 'listar_post'%}" class="text-menu-selected">Blog</a></li>
                            <li><a href="{% url 'recorridos'%}"><i class="far fa-dizzy"></i>Recorridos</a></li>
                            <li><a href="{% url 'cerrarSesion'%}">Cerrar sesion</a></li>
                            <li><a href="{% url 'perfil' %}" > {{user.nombres}} {{user.apellido}}</a></li>
                            {% if user.imagen %}
                                <img src="{{ user.imagen.url }}" alt="imagen no encontrada" class="image-menu">
                            {% else %}
                                <img src="{% static 'img/image_default.png'%}" alt="imagen no encontrada" class="image-menu">
                            {% endif%}
                        {% endif %}
                        {% else %}
                            <li><a href="{% url 'estacionamientos'%}" >Estacionamientos</a></li>
                            <li class='menu-selected'><a href="{% url 'listar_post'%}" class="text-menu-selected">Blog</a></li>
                            <li><a href="{% url 'ingresar'%}" >Ingresar</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    {% if messages %}
    <ul class="messages alert-info">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- Recorridos -->
    <div class="container-x" id="move-content">
        <div class="container-general-post">
            <div class="container-post">
                <div class="ctn-post">
                    
                   <div class="crear_post">
                        <h1>Bienvenido a nuestro Blog!!</h1>
                        <img src=" {% static 'img/camara.png' %}" alt="">
                        {% if user.is_authenticated %}
                        <a href="{% url 'agregar_post'%}"> ---> Sube tu post! <--- </a>
                        {% endif %}
                    </div>
                    {% if post %}
                    {% for c in post %}
                        <div class="card">
                            <h4 class="card-title">{{ c.titulo }}</h4>
                            <p>{{ c.fecha_post}} </p>
                            <p>{{ c.usuario }}</p>
                            <img class="card-img-top avatar" src="{{ c.imagen.url }}" alt="imagen no encontrada">
                            <div class="card-body">
                            <br>
                            <p class="descripcion"> {{ c.descripcion }} </p>
                            {% if user.is_authenticated %}
                            {% if user.is_admin %} 
                                <a href="{% url 'editar_post' c.id %}" class="btn btn-primary" > Editar </a>
                                <a href="{% url 'borrar_post' c.id %}" class="btn btn-danger" onclick="confirmation()"> Borrar </a>
                            {% endif %}
                            {% endif %}
                            {% if user.is_authenticated %}
                            {% if user == c.usuario %}
                                <a href="{% url 'editar_post' c.id %}" class="btn btn-primary" > Editar </a>
                                <a href="{% url 'borrar_post' c.id %}" class="btn btn-danger" onclick="confirmation()"> Borrar </a>
                            {% endif %}
                            {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <p>No hay registros de recorridos</p>
                    {% endif %}
                
                </div>
            </div>
        </div>
    <!-- footer -->
        <div class="container-footer">
           <footer>
                <div class="logo-footer">
                    <img src="{% static 'img/mobike.jpg' %}" alt="">
                </div>
                <div class="redes-footer">
                    <a href="https://www.facebook.com/MobikeCL/?brand_redir=1914107855579139"><i
                            class="fab fa-facebook icon-redes-footer"></i></a>
                    <a href="https://www.instagram.com/mobikecl/"><i
                            class="fab fa-instagram icon-redes-footer"></i></a>
                    <a href="https://twitter.com/MobikeCL"><i class="fab fa-twitter icon-redes-footer"></i></a>
                </div>
                <div class="certificacion">
                    <p>
                        <a href="http://jigsaw.w3.org/css-validator/check/referer">
                            <img style="border:0;width:88px;height:31px"
                                src="http://jigsaw.w3.org/css-validator/images/vcss" alt="¡CSS Válido!" />
                        </a>
                    </p>
                    <p>
                        <a href="http://jigsaw.w3.org/css-validator/check/referer">
                            <img style="border:0;width:88px;height:31px"
                                src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="¡CSS Válido!" />
                        </a>
                    </p>
                </div>
                <hr>
                <h4> 2020 Mobike - Todos los Derechos Reservados</h4>
            </footer>
        </div>
    </div>
    <!-- scripts -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>